.deposit-container {
    text-align: center;
  }

  .deposit-container .title {
    font-size: 1.6em;
    margin-top: 0;
    margin-bottom: 0;
  }

  .deposit-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .deposit-form p {
    justify-content: center;
    font-size: 1em;
  }
  
  .deposit-form input {
    display: block;
    width: 100%;
    margin: 0.4em 0;
    padding: 0.4em;
    font-size: 0.7em;
  }
  
  .deposit-form button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 0.2em;
    margin-top: 0.6em;
    width: auto;
    font-size: 0.9em;
    font-family: Sancreek, Verdana, Geneva, Tahoma, sans-serif;
    padding: 0.7em; 
  }
  
  .error {
    color: red;
  }
  