.deposit-container {
    /* max-width: 400px; */
    /* margin: auto; */
    text-align: center;
  }

  .title {
    font-size: clamp(10px, 3vw, 7vh);
    margin-top: 0;
    margin-bottom: 0;
  }

  .deposit-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .deposit-form p {
    justify-content: center;
    font-size: clamp(10px, 2vw, 5vh);
    /* margin-top: clamp(10px, 1vw, 2vh); */
  }

  /*.deposit {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 8px;
    font-size: 16px;
    text-align: center;
    margin-bottom: 20px;
  }*/
  
  .deposit-form input {
    display: block;
    width: 100%;
    margin: clamp(1px, 0.5vw, 1vh) 0;
    padding: clamp(1px, 0.5vw, 1vh);
    font-size: 18px;
  }
  
  .deposit-form button {
    background-color: #4CAF50;
    color: white;
    /* padding: 10px; */
    border: none;
    cursor: pointer;
    border-radius: 8px;
    /* margin-top: 17px; */
    width: auto;
    font-size: clamp(10px, 2vw, 5vh);
    /* padding-left: 20px; */
    /* padding-right: 22px; */
  }
  
  .error {
    color: red;
  }
  