.history-container {
    width: 90%;
    margin: 1em auto;
    box-sizing: border-box;
  }
  
  .title {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 0.4em;
    text-align: center;
  }
  
  .history-list {
    max-height: 16em;
    overflow-y: auto;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    border-radius: 0.3em;
  }
  
  .history-item {
    display: flex;
    justify-content: space-between;
    padding: 0.5em;
    border-bottom: 1px solid #ddd;
  }
  
  .history-info {
    display: flex;
    flex-direction: column;
  }

  .history-item:hover {
    background-color: #ddd;
  }
  
  .game-name {
    font-size: 0.8em;
    margin: 0;
    padding-bottom: 0.4em;
  }
  
  .date {
    font-size: 0.5em;
    color: #666;
    margin: 0;
  }
  
  .transaction-number {
    font-size: 1em;
    color: #444;
    margin: 0;
    padding-right: 1em;
  }
  
  .no-history {
    text-align: center;
    color: #888;
    font-size: 1em;
  }
  