.poker-container {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    font-size: clamp(5px, 1vw, 2vh);
    /* background-color: #fff; */
  }
  
  .poker-card {
    text-align: center;
    color: #fff;
    /* max-width: 65vw; */
    padding: 1em;
    border-radius: 1em;
    animation: fadeIn 1s ease-in-out;
    width: 62em;
  }
  
  .poker-card h1 {
    font-size: 4em;
    margin-bottom: 1em;
  }

  .poker-card h2 {
    font-size: 2.2em;
    margin: 0;
  }
  
  .poker-card p {
    font-size: 2em;
  }

  .poker-card select,
  .poker-card input {
    font-size: 0.7em;
    margin-left: 1em;
  }

  .difficulty-selection,
  .betting-selection {
    font-size: 2em;
  }

  .poker-score-container{
    position: fixed;
    top: 120px;
    left:5%;
    width: 17em;
    z-index: 900;
    color: white;
    gap: 1em;
    display: flex;
    flex-direction: column; 
  }
  
  .start-game,
  .back-to-home {
    display: inline-block;
    padding: 1em 1em;
    background-color: #fff;
    color: #000;
    border-radius: 0.5em;
    text-decoration: none;
    border: none;
    font-family: Sancreek, Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 2em;
    transition: background-color 0.3s, transform 0.2s;
  }

  .start-game:hover,
  .back-to-home:hover {
    transform: scale(1.10);
    cursor: pointer;
  }
  
  .button-group {
    display: flex;
    justify-content: center;
    gap: 3em;
    margin-top: 4em;
  }
  
  .action-buttons-poker {
    display: flex;
    justify-content: center;
    gap: 1em;
  }
  
  /*.hand {
    width: 60em;
    height: 10vw;
  }*/

  .poker-container .play-hand,
  .poker-container .discard,
  .poker-container .sort-suit,
  .poker-container .sort-rank {
    display: inline-block;
    padding: 0.5em 0.5em;
    font-size: 2em;
    font-family: Sancreek, Verdana, Geneva, Tahoma, sans-serif;
    border: none;
    border-radius: 0.3em;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
  }
  
  .poker-container .play-hand {
    background-color: #27ae60;
    color: white;
  }
  
  .poker-container .play-hand:hover {
    background-color: #219150;
    transform: scale(1.05);
  }
  
  .poker-container .discard {
    background-color: #e74c3c;
    color: white;
  }
  
  .poker-container .discard:hover {
    background-color: #c0392b;
    transform: scale(1.05);
  }

  .poker-container .sort-suit,
  .poker-container .sort-rank {
    background-color: #fff;
    color: #000;
  }

  .poker-container .sort-suit:hover,
  .poker-container .sort-rank:hover {
    background-color: #ccc;
    transform: scale(1.05);
  }

  
  .scored-hand {
    font-size: 2em;
    background-color: #fff;
    color: #000;
    position: fixed;
    z-index: 999;
    top: -10em; /*The score card stays off screen until it's needed*/
    border-radius: 0.5em;
    padding: 1em;
    box-shadow: 0.3em 0.3em 1em;
    transition: top 0.3s ease;
  }

  /* When it's visible, put it in the middle of the screen*/
  .scored-hand.visible {
    top: clamp(100px + 5em, 1em, 1000px);
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(200px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  