.left-panel {
    display: flex;
    font-size: clamp(5px, 2vw, 4vh);
}

.left-panel h2 {
    color: white;
    font-size: 1.6em;
}

.profile-button {
    display: flex;
    align-items: center;
    margin: 0.5em 0;
    background-color: #f0f0f0;
    border: none;
    cursor: pointer;
    font-size: 1em;
    font-family: Sancreek, Verdana, Geneva, Tahoma, sans-serif;
    width: 8em;
    height: 2.5em;
    padding-left: 0.3em; 
    border-radius: 0.2em;
}

.profile-button:hover,
.edit_button:hover {
    background-color: #ddd;
}

.profile-button svg {
    margin-right: 0.5em;
    width: 1em;
}

.right-panel {
    margin-left: 1em;
    padding: 1.3em;
    background-color: white;
    border-radius: 0.3em;
    width: 25em;
    height: 22em;
}
  
.profile-label {
    text-align: center;
    font-size: 1.6em;
}
  
.profile-table {
    font-size: 1.1em;
}
  
.profile-table td {
    padding: 0.5em;
}

.profile-table .button-group {
    padding: 0;
    margin-top: 1em;
    gap: 0;
}
.edit_button {
    background-color: #f0f0f0;
    border: none;
    cursor: pointer;
    font-size: 0.7em;
    font-family: Sancreek, Verdana, Geneva, Tahoma, sans-serif;
    width: 4em;
    height: 2.5em;
    border-radius: 0.2em;
    margin-left: 1em;
    margin-right: 1em;
}

.profile-flex-container input {
    font-size: 1em;
    padding: 0.1em;
    width: 10em;
    text-align: center;
}