.progress-bar {
    margin: 0.5em 0;
}
  
.progress-bar-container {
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 0.2em;
    overflow: hidden;
}
  
.progress-bar-fill {
    height: 1em;
    transition: width 0.5s ease-in-out, background-color 0.5s ease-in-out;
}

.Progress-Bars{
  position: fixed;
  top: 100px;
  right:5%;
  width: 12em;
  z-index: 900;
  color: white;
  font-size: 1.7em;
  /* gap: 20px; */
  display: flex;
  flex-direction: column;
}