  .tutorials-container,
  .tutorial-details-container { /* Outer div */
    padding: 1.5em;
    width: 60em;
    padding-bottom: 5em;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.85);
    color: #000;
    border-radius: 0.5em;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    animation: fadeIn 1s ease-in-out;
    font-size: clamp(5px, 1vw, 2vh);
  }
  
  /* Game Tutorials Heading */
  .tutorials-heading {
    font-size: 3em;
  }
  
  .tutorials-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5em;
  }
  
  .tutorial-link {
    background-color: #f3f4f6;
    padding: 0.5em 0.7em;
    border-radius: 0.25em;
    font-size: 2em;
    transition: background-color 0.15s ease-in-out;
    text-decoration: none;
    color: inherit;
  }
  
  .tutorial-link:hover {
    background-color: #e5e7eb;
    transform: scale(1.05);
  }

  .tutorial-details-heading {
    font-size: 2.5em;
  }
  
  .tutorial-details-content {
    font-size: 1.5em;
    line-height: 1.6;
  }
  
  .tutorial-details-actions {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 15px;
  }
  
  .tutorial-watch-video {
    padding: 1em 1em;
    border-radius: 0.3em;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.5em;
    background-color: #007bff;
    color: white;
    border: none;
  }
  
  .tutorial-watch-video:hover {
    background-color: #0056b3;
  }
  
  .viewed-indicator {
    color: green;
    /* margin-left: 1em; */
    font-size: 2em;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(200px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }